@model IEnumerable<HMS.Models.Staff>

@{
    ViewBag.Title = "ListAdmin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>List of Staff</h2>

<p>
    <a class="btn" href="/Admin/CreateStaff">Create New</a>
</p>
<table class="table-admins">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            Buttons
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Phone
            </td>

            <td>
                <a class="btn" href="/Admin/EditStaff/@item.Id">Edit</a>
                <a class="btn" style="background-color:darkred; margin-left:5px" href="/Admin/DeleteStaff/@item.Id">Delete</a>
                <a class="btn" style="background-color:royalblue; margin-left:5px" href="/Admin/tasks/@item.Id">Assign Task</a>
            </td>
        </tr>
    }

</table>
